<a href="https://colab.research.google.com/github/mariesweeney900/MachineLearningAssessment/blob/main/MachineLearningTasksChiSquaredFinal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import numpy as np 
import pandas as pd
import scipy

import seaborn as sns
from matplotlib import pyplot as plt
import random

In [12]:
import pandas as pd

data = {'Collar': ['White Collar', 'Blue Collar', 'No Collar'],
        'A': [90, 30, 30],
        'B': [60, 50, 40], 
        'C': [104, 51, 45],
        'D': [95, 20, 35]
        }

df = pd.DataFrame(data)
df

         Collar   A   B    C   D
0  White Collar  90  60  104  95
1   Blue Collar  30  50   51  20
2     No Collar  30  40   45  35

In [13]:
#https://stackoverflow.com/questions/53414960/how-do-i-create-a-sum-row-and-sum-column-in-pandas
df.append(df.sum().rename('Total')).assign(Total=lambda d: d.sum(1))

                                 Collar    A    B    C    D  Total
0                          White Collar   90   60  104   95    349
1                           Blue Collar   30   50   51   20    151
2                             No Collar   30   40   45   35    150
Total  White CollarBlue CollarNo Collar  150  150  200  150    650

In [14]:
# set treatments column as index
dfchi = df.set_index('Collar')
dfchi.head()

               A   B    C   D
Collar
White Collar  90  60  104  95
Blue Collar   30  50   51  20
No Collar     30  40   45  35

In [15]:
from scipy.stats import chi2_contingency


chi2_contingency(dfchi)

(24.5712028585826,
 0.0004098425861096696,
 6,
 array([[ 80.53846154,  80.53846154, 107.38461538,  80.53846154],
        [ 34.84615385,  34.84615385,  46.46153846,  34.84615385],
        [ 34.61538462,  34.61538462,  46.15384615,  34.61538462]]))

In [16]:
pvalue=chi2_contingency(dfchi)[1]
pvalue

0.0004098425861096696